1. The link will be made on 2M; the EchoLink radio will access the repeater just as a normal user does - transmitting on 146.1, receiving on 146.7.

2. Connection to the EchoLink station will only be allowed for stations on a “white list”; there will be no general public access. The initial white list will probably be all club members, plus any friends whose calls members submit.

3. The EchoLink radio transmitter should be keyed up by a wired PTT connection, not VOX, and “hangtime” should be as close to zero as practical.

4. The EchoLink transmission of audio to the internet should be controlled by the EchoLink radio squelch signal, not VOX.

5. There should be some sort of independent timeout for an EchoLink “stuck mike”. Because the computer end of the link, i.e. the remote user, may use a keyboard button to toggle PTT, it is apparently common for users to forget to unkey when done speaking. Ideally, a few seconds of dead air should drop the PTT to the EchoLink radio. (This may not be easy to implement.)

6. It should be possible for multiple EchoLink users to connect at the same time, and to hear each other as well as the repeater output. (I think this is called “Conferencing” in the EchoLink world.)

7. The only feature allowed over EchoLink is a connection from an individual. EchoLink users should not be able to connect the link to “reflectors” or other sources. In essence, an EchoLink user should have no less, and no more, functionality available than a normal user directly accessing the repeater via radio.

8. With regard to #7, it is acceptable and perhaps even desirable, for EchoLink users to be able to send DTMF commands to the repeater via the link, but it is not required. However, DTMF commands sent to the repeater from EchoLink should NOT be heard by other EchoLink users. (Equivalent to the DTMF mute function of the repeater controller – incoming DTMF tones are not repeated on the output.)

9. There must be a path to disable the link via a command to the repeater. Since EchoLink is using 2M, this means the command must come over a different band available at Cady, either 220 or 440. The EchoLink station must monitor this other frequency, and respond to some special audio signal. Since the 220 radio on Cady could be on one of two frequencies, it may be best if the EchoLink station monitored 440. The “special audio signal” could be a sequence of touch tones, or anything else that can be put into a .wav file and transmitted. You can assume that the special audio signal will be sent by itself, i.e., not on top of a voice conversation. It would be a plus if the link could also be disabled via the internet, but that capability is not a substitute for being able to kill the link via the Cady repeater.

Theory: If a trusted operator hears a problem with the link on the repeater, he is very likely to be able to use the repeater to kill the link, but he does not necessarily have internet access.

10. The kill path in #9 should be independent of the EchoLink computer. If the computer fails, or the software runs amok, the kill path must still work. Thus, the kill path must have an independent signal decoder, and should either intercept PTT to the EchoLink radio, or kill the 12V power to the radio.

11. There should probably be an “unkill” command using the same path as the kill command. This is a nice to have, not a need to have. The world would not come to an end if EchoLink operation could not be restored until the local operator returned home and manually reset the kill circuit.

12. Although it is tempting to implement the kill path in #9 using the existing transmitters on Cady (220 or 440), it would not be out of the question to add a dedicated transmitter just for the kill command. For example, the controller at Cady could easily key up a separate 440 transmitter on a simplex or telecommand frequency using a DCS code, a quite rare thing in normal use. The kill circuit at the EchoLink site would then merely have to took for open squelch from a 440 receiver set to that DCS code, rather than decodin some special tones. The complication is, there would need to be an ID on the 440 transmission, but that could be done by an add on board, one of which we happen to have. It is not immediately obvious how this approach would do an unkill command, unless kill and unkill are toggled by reception of the 440 signal.

13. In keeping with #1 and #7 above, added audio, i.e. audio other than the voice of the echolink user, sent through the echolink transmitter should be kept to the absolute minimum required.  

a)  This means an FCC required CW ID sent at the maximum allowed speed (20WPM by regulation?), to minimize the duration of the interruption, and nothing else.  

b)  It is desirable that the CW ID not interrupt other transmissions, so the best choice might be to put a quick ID in at the end of every echolink transmission, rather than automatically interrupting ongoing communications to meet the "10 minute" rule.  The algorithm for sending the CW ID is clearly open to discussion.  If it met FCC rules to send the ID over (or under if you like) the voice transmission of the echolink user, that would be ideal.  

c)  While it might be desirable for the echolink controller to speak to the echolink user, it is not desirable for the echolink controller to speak to the repeater.  The fact that linking the 220 and 2m/440 systems generates a voice announcement does not imply the need for doing the same if someone connects his computer to the echolink system.  The repeater linking is a serious reconfiguration of the system which could be initiated over any of the 3 frequencies monitored at Cady, and needs to be reported, so that the person linking knows the attempt was successful.  In a perfect world, the success of the operation would only be reported over the frequency on which the link was requested, but the controller in use is not quite that versatile.    

Theory:  A "normal" user setting his radio to monitor the repeater generates no messages on the repeater, unless he chooses to key up and announce his presence.  Echolink users should be the same. Most listeners don't care what the source of the communications are - 2M, 220, 440, echolink, whatever, or who is listening, or able to press the PTT.  Users who feel they need to know if there is a connection to the echolink radio can check the echolink website. It might be nice if the echolink CW ID used a significantly different audio frequency than Cady or 220; that might be a way to provide listeners who care with the connection information, and/or a way to make the ID less intrusive.  Having a different callsign, as it undoubtedly will, might help both concerns.  I would suggest a lower audio frequency than either Cady or 220, but this is a pretty subjective idea that we ought to try, and then critique.
